In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl

In [3]:
a1 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2010_2013.xlsx')
a2 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2014_2016.xlsx')
a3 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2017_2020.xlsx')

In [4]:
apt = pd.concat([a1, a2, a3])
apt.head()

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307

In [28]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2401078 entries, 0 to 955023
Data columns (total 20 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   type         object
 2   city         object
 3   town         object
 4   village      object
 5   name         object
 6   category     object
 7   size         float64
 8   price_sold   int64
 9   deposit      int64
 10  monthlyrent  int64
 11  floor        float64
 12  year_built   float64
 13  yy           int64
 14  mm           int64
 15  dd           int64
 16  zipcode      object
 17  address      object
 18  age          float64
 19  age_cut      category
dtypes: category(1), float64(4), int64(7), object(8)
memory usage: 368.7+ MB

In [32]:
sell = apt[(apt['category'] == '매매') & (apt['type'] == '아파트')]
sell

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age,age_cut
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103,32.0,31-35
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103,32.0,31-35
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307,36.0,36-40
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307,36.0,36-40
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307,36.0,36-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313637,358133,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,41500,0,0,15.0,1998.0,2017,5,27,450,동일로 752,22.0,21-25
313638,358134,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,43000,0,0,10.0,1998.0,2017,5,27,450,동일로 752,22.0,21-25
313639,358135,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,33250,0,0,7.0,1998.0,2017,6,6,450,동일로 752,22.0,21-25
313640,358136,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,34500,0,0,7.0,1998.0,2017,7,31,450,동일로 752,22.0,21-25
313641,358138,아파트,서울특별시,중랑구,중화동,한영(103),매매,125.0,36900,0,0,6.0,2003.0,2017,5,29,274-76,동일로144길 74,17.0,16-20

In [38]:
ageage = 2020 - sell['year_built']
sell['age'] = ageage
sell.head()

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age,age_cut
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103,32.0,31-35
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103,32.0,31-35
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307,36.0,36-40
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307,36.0,36-40
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307,36.0,36-40

In [39]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815972 entries, 0 to 313641
Data columns (total 20 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   815972 non-null  int64
 1   type         815972 non-null  object
 2   city         815972 non-null  object
 3   town         815972 non-null  object
 4   village      815972 non-null  object
 5   name         815972 non-null  object
 6   category     815972 non-null  object
 7   size         815972 non-null  float64
 8   price_sold   815972 non-null  int64
 9   deposit      815972 non-null  int64
 10  monthlyrent  815972 non-null  int64
 11  floor        815972 non-null  float64
 12  year_built   815972 non-null  float64
 13  yy           815972 non-null  int64
 14  mm           815972 non-null  int64
 15  dd           815972 non-null  int64
 16  zipcode      815757 non-null  object
 17  address      815972 non-null  object
 18  age          815972 non-null  float64
 19  age_cut      815457 non-null  category
dtypes: category(1), float64(4), int64(7), object(8)
memory usage: 125.3+ MB

In [40]:
sell['age_cut']=pd.cut(sell['age'],[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 100], 
                      labels=['-5', '6-10', '11-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-'], duplicates='raise', include_lowest = True)
sell

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age,age_cut
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103,32.0,31-35
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103,32.0,31-35
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307,36.0,36-40
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307,36.0,36-40
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307,36.0,36-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313637,358133,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,41500,0,0,15.0,1998.0,2017,5,27,450,동일로 752,22.0,21-25
313638,358134,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,43000,0,0,10.0,1998.0,2017,5,27,450,동일로 752,22.0,21-25
313639,358135,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,33250,0,0,7.0,1998.0,2017,6,6,450,동일로 752,22.0,21-25
313640,358136,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,34500,0,0,7.0,1998.0,2017,7,31,450,동일로 752,22.0,21-25
313641,358138,아파트,서울특별시,중랑구,중화동,한영(103),매매,125.0,36900,0,0,6.0,2003.0,2017,5,29,274-76,동일로144길 74,17.0,16-20

In [41]:
apt[apt['age'] == 31]

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age,age_cut
620,584705,아파트,서울특별시,강남구,대치동,래미안 대치 하이스턴,매매,110.0,109000,0,0,8.0,1989.0,2013,12,14,985,도곡로93길 12,31.0,31-35
2453,589489,아파트,서울특별시,강동구,길동,한전우성1,매매,81.0,32000,0,0,6.0,1989.0,2013,8,29,332,천중로49길 58,31.0,31-35
2454,589490,아파트,서울특별시,강동구,길동,한전우성1,매매,81.0,33700,0,0,7.0,1989.0,2013,9,11,332,천중로49길 58,31.0,31-35
2455,589491,아파트,서울특별시,강동구,길동,한전우성1,매매,81.0,33000,0,0,3.0,1989.0,2013,10,22,332,천중로49길 58,31.0,31-35
2456,589492,아파트,서울특별시,강동구,길동,한전우성1,매매,81.0,33000,0,0,5.0,1989.0,2013,10,28,332,천중로49길 58,31.0,31-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954796,668078,아파트,서울특별시,중랑구,신내동,원당,전세,63.0,0,0,0,3.0,1989.0,2017,3,30,408-2,봉화산로 220,31.0,31-35
954797,668079,아파트,서울특별시,중랑구,신내동,원당,전세,63.0,0,0,0,2.0,1989.0,2017,4,20,408-2,봉화산로 220,31.0,31-35
954798,668080,아파트,서울특별시,중랑구,신내동,원당,전세,63.0,0,0,0,1.0,1989.0,2017,5,6,408-2,봉화산로 220,31.0,31-35
954799,668081,아파트,서울특별시,중랑구,신내동,원당,전세,63.0,0,0,0,2.0,1989.0,2017,5,16,408-2,봉화산로 220,31.0,31-35
954800,668082,아파트,서울특별시,중랑구,신내동,원당,전세,63.0,0,0,0,4.0,1989.0,2017,5,27,408-2,봉화산로 220,31.0,31-35

In [57]:
sell.groupby(['age_cut'])['age'].count()

age_cut
-5        21443
6-10      79224
11-15    132394
16-20    193241
21-25    146316
26-30     85932
31-35     97889
36-40     37571
41-45     15816
46-50      5572
51-55       551
56-60        23
61-           0
Name: age, dtype: int64

In [58]:
sell['q25'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.25, interpolation='nearest'))
sell['q50'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.50, interpolation='nearest'))
sell['q75'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.75, interpolation='nearest'))
sell

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,mm,dd,zipcode,address,age,age_cut,price_q50,q25,q50,q75
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,...,9,8,655-2,언주로 103,32.0,31-35,35000,24000,35000,59500
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,...,12,16,655-2,언주로 103,32.0,31-35,35000,24000,35000,59500
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,...,8,12,652,개포로 307,36.0,36-40,65000,45850,65000,94500
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,...,10,8,652,개포로 307,36.0,36-40,65000,45850,65000,94500
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,...,11,26,652,개포로 307,36.0,36-40,65000,45850,65000,94500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313637,358133,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,41500,0,...,5,27,450,동일로 752,22.0,21-25,38700,29000,38700,53000
313638,358134,아파트,서울특별시,중랑구,중화동,한신2,매매,84.0,43000,0,...,5,27,450,동일로 752,22.0,21-25,38700,29000,38700,53000
313639,358135,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,33250,0,...,6,6,450,동일로 752,22.0,21-25,38700,29000,38700,53000
313640,358136,아파트,서울특별시,중랑구,중화동,한신2,매매,59.0,34500,0,...,7,31,450,동일로 752,22.0,21-25,38700,29000,38700,53000
313641,358138,아파트,서울특별시,중랑구,중화동,한영(103),매매,125.0,36900,0,...,5,29,274-76,동일로144길 74,17.0,16-20,43800,34000,43800,59500

In [59]:
q25 = sell.groupby(['age_cut'])['price_sold'].quantile(q=0.25)
q50 = sell.groupby(['age_cut'])['price_sold'].quantile(q=0.50)
q75 = sell.groupby(['age_cut'])['price_sold'].quantile(q=0.75)
print(q25)
print(q50)
print(q75)

age_cut
-5       34000.00
6-10     38696.25
11-15    40000.00
16-20    34000.00
21-25    29000.00
26-30    25900.00
31-35    24000.00
36-40    45875.00
41-45    74200.00
46-50    23000.00
51-55    17550.00
56-60    12850.00
61-           NaN
Name: price_sold, dtype: float64
age_cut
-5        72700.0
6-10      56700.0
11-15     53800.0
16-20     43800.0
21-25     38700.0
26-30     35500.0
31-35     35000.0
36-40     65000.0
41-45    102800.0
46-50     55500.0
51-55     21600.0
56-60     16950.0
61-           NaN
Name: price_sold, dtype: float64
age_cut
-5       105000.0
6-10      79000.0
11-15     81500.0
16-20     59500.0
21-25     53000.0
26-30     51200.0
31-35     59500.0
36-40     94500.0
41-45    145000.0
46-50    115000.0
51-55     26950.0
56-60     17225.0
61-           NaN
Name: price_sold, dtype: float64

In [ ]:
def x:
    if x <