In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
korea = pd.read_csv('C:\\GitHub\\test\\korea_2019.csv', encoding = 'cp949')
korea

C:\Users\sds\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (72) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,조사연월,가구별 일련번호,가구구분,가구원수,취업인원수,노인가구,모자가구,맞벌이가구,일반가구,세대구분,...,기타서비스,비소비지출,경상조세,비경상조세,연금 기여금,사회보험,이자비용,가구간 이전지출,비영리단체로 이전,도시/읍면부 구분
0,201900,1,2,1,0,0,0,0,1,1,...,0,99416,0,15190,0,0,4893,50000,29333,1
1,201900,2,1,3,2,0,0,0,1,2,...,3333,316357,37697,0,0,110160,0,142500,26000,1
2,201900,3,2,1,0,0,0,0,1,1,...,0,9206,0,0,4050,3728,0,0,1429,1
3,201900,4,1,3,2,0,0,1,0,2,...,0,445731,71766,0,245393,104001,4857,7143,12571,1
4,201900,5,1,1,1,0,0,0,1,1,...,525514,359537,13844,0,65571,50121,0,57143,172857,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9505,201900,9506,2,4,2,0,0,1,0,2,...,0,1538751,95328,0,8370,142911,1075742,55000,161400,0
9506,201900,9507,2,4,3,0,0,1,0,2,...,0,685210,8298,0,0,47612,422300,181000,26000,0
9507,201900,9508,2,5,3,0,0,1,0,3,...,0,1459269,96528,0,174473,72436,304014,640909,170909,0
9508,201900,9509,1,1,1,0,0,0,1,1,...,454545,117633,24609,0,0,26887,0,65227,909,0
9509,201900,9510,2,2,2,1,0,1,0,1,...,0,490845,39638,6035,0,0,5626,366364,73182,0

In [35]:
korea_edit = korea.loc[:, ['가구별 일련번호', '맞벌이가구', '소득구간', '거처구분', '입주형태', '전세보증금', '주거용 전용면적', '주택소유구분']]
korea_edit[['맞벌이가구', '거처구분', '입주형태', '주택소유구분']] = korea_edit[['맞벌이가구', '거처구분', '입주형태', '주택소유구분']].astype('category')
korea_edit['맞벌이가구'].cat.categories = ['외벌이', '맞벌이']
korea_edit['거처구분'].cat.categories = ['단독주택', '아파트', '3', '다세대', '5', '오피스텔', '7']
korea_edit['입주형태'].cat.categories = ['자가', '무상주택', '사택', '전세', '영구임대', '보증부월세', '7']
korea_edit['주택소유구분'].cat.categories = ['있음', '없음']
korea_edit

      가구별 일련번호 맞벌이가구  소득구간  거처구분   입주형태  전세보증금  주거용 전용면적 주택소유구분
0            1   외벌이     1  단독주택     전세  40000        50     없음
1            2   외벌이     4  단독주택  보증부월세  35000        50     없음
2            3   외벌이     1  단독주택  보증부월세  37000        50     없음
3            4   맞벌이     4  단독주택     전세  80000        50     없음
4            5   외벌이     2  단독주택  보증부월세  20000        50     없음
...        ...   ...   ...   ...    ...    ...       ...    ...
9505      9506   맞벌이     7  단독주택     자가      0       113     있음
9506      9507   맞벌이     5  단독주택     자가      0        49     있음
9507      9508   맞벌이     8  단독주택     자가      0        60     있음
9508      9509   외벌이     4  단독주택     자가      0        66     있음
9509      9510   맞벌이     2  단독주택     자가      0        78     있음

[9510 rows x 8 columns]

In [39]:
korea_own_house = korea_edit.groupby(['소득구간', '주택소유구분']).agg({'가구별 일련번호': 'nunique', '전세보증금': 'mean', '주거용 전용면적': 'mean'}).reset_index()
korea_own_house

    소득구간 주택소유구분  가구별 일련번호          전세보증금   주거용 전용면적
0      1     있음       695    2049.352518  72.283453
1      1     없음       577   19833.133449  43.020797
2      2     있음       894    1802.948546  76.602908
3      2     없음       641   20443.441498  46.550702
4      3     있음       845    2115.427219  77.087574
5      3     없음       675   28564.872593  46.272593
6      4     있음       846    4322.695035  80.243499
7      4     없음       499   41342.705411  51.494990
8      5     있음       771    5558.625162  81.909209
9      5     없음       314   64567.369427  60.334395
10     6     있음       641    6310.280811  82.514821
11     6     없음       251   74946.486056  64.003984
12     7     있음       478   11704.393305  85.953975
13     7     없음       120  116868.750000  69.816667
14     8     있음      1078   14866.491651  94.493506
15     8     없음       185  155111.502703  74.913514

In [45]:
portion = (korea_own_house['가구별 일련번호'] / korea_edit['가구별 일련번호'].max()) * 100
korea_own_house['가구수 비중'] = portion
korea_own_house = korea_own_house[['소득구간', '주택소유구분', '가구별 일련번호', '가구수 비중', '전세보증금', '주거용 전용면적']]
korea_own_house

    소득구간 주택소유구분  가구별 일련번호     가구수 비중          전세보증금   주거용 전용면적
0      1     있음       695   7.308097    2049.352518  72.283453
1      1     없음       577   6.067298   19833.133449  43.020797
2      2     있음       894   9.400631    1802.948546  76.602908
3      2     없음       641   6.740273   20443.441498  46.550702
4      3     있음       845   8.885384    2115.427219  77.087574
5      3     없음       675   7.097792   28564.872593  46.272593
6      4     있음       846   8.895899    4322.695035  80.243499
7      4     없음       499   5.247108   41342.705411  51.494990
8      5     있음       771   8.107256    5558.625162  81.909209
9      5     없음       314   3.301788   64567.369427  60.334395
10     6     있음       641   6.740273    6310.280811  82.514821
11     6     없음       251   2.639327   74946.486056  64.003984
12     7     있음       478   5.026288   11704.393305  85.953975
13     7     없음       120   1.261830  116868.750000  69.816667
14     8     있음      1078  11.335436   14866.491651  94.493506
15     8     없음       185   1.945321  155111.502703  74.913514

In [55]:
income_sum = korea_own_house.groupby('소득구간')['가구별 일련번호'].sum()
income_sum

소득구간
1    1272
2    1535
3    1520
4    1345
5    1085
6     892
7     598
8    1263
Name: 가구별 일련번호, dtype: int64

In [56]:
portion = korea_own_house['가구별 일련번호'] / income_sum
portion

0          NaN
1     0.453616
2     0.582410
3     0.421711
4     0.628253
5     0.622120
6     0.948430
7     0.834448
8     0.610451
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
Name: 가구별 일련번호, dtype: float64

In [44]:
korea_own_house.to_csv('C:\\GitHub\\test\\korea_own_house.csv', encoding = 'utf-8-sig')

In [15]:
korea_income[['거처구분', '입주형태', '주택소유구분']] = korea_income[['거처구분', '입주형태', '주택소유구분']].astype('category')
korea_income

     소득구간 거처구분 입주형태 주택소유구분  가구별 일련번호          전세보증금   주거용 전용면적
0       1    1    1      1       375       0.000000  76.986667
1       1    1    2      1         2       0.000000  55.500000
2       1    1    2      2        56       0.000000  59.928571
3       1    1    4      1         6   90000.000000  53.333333
4       1    1    4      2        85   43360.000000  44.329412
..    ...  ...  ...    ...       ...            ...        ...
315     8    6    3      2         1   10000.000000  53.000000
316     8    6    4      1         1   75000.000000  31.000000
317     8    6    4      2         3  223333.333333  75.000000
318     8    6    6      1         2   51500.000000  40.000000
319     8    6    6      2         5   49000.000000  51.800000

[320 rows x 7 columns]