In [90]:
import pandas as pd
import numpy as np

In [ ]:
apt1 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2010_2013.xlsx')
apt2 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2014_2016.xlsx')
apt3 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2017_2020.xlsx')

In [ ]:
apt = pd.concat([apt1, apt2, apt3])
apt.head()

In [ ]:
apt.info()

In [7]:
apt['age'] = 2020 - apt['year_built']
apt.head()

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103,32.0
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103,32.0
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307,36.0
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307,36.0
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307,36.0

In [81]:
apt_sell = apt[apt['category'] == '매매']
apt_own = apt_sell.groupby(['town', 'village', 'yy', 'mm', 'name', 'size', 'age'])['price_sold'].mean().reset_index()
apt_own

       town village    yy  mm            name   size   age  price_sold
0       강남구     개포동  2010   8  개포6차우성아파트1동~8동   67.0  33.0     80000.0
1       강남구     개포동  2010   8  개포6차우성아파트1동~8동   79.0  33.0     80600.0
2       강남구     개포동  2010   8      개포자이(12-2)  134.0  16.0    131000.0
3       강남구     개포동  2010   8        개포주공 1단지   35.0  38.0     65000.0
4       강남구     개포동  2010   8        개포주공 1단지   41.0  38.0     75000.0
...     ...     ...   ...  ..             ...    ...   ...         ...
500594  중랑구     중화동  2020   7            한신1차   50.0  23.0     53000.0
500595  중랑구     중화동  2020   7            한신1차   59.0  23.0     60250.0
500596  중랑구     중화동  2020   7            한신1차   84.0  23.0     66000.0
500597  중랑구     중화동  2020   7             한신2   59.0  22.0     60000.0
500598  중랑구     중화동  2020   7           현대휴앤미   95.0  13.0     44000.0

[500599 rows x 8 columns]

In [16]:
rent1 = pd.read_excel('C:\\GitHub\\test\\apt_rent\\apt_rent_all_new_1.xlsx')
rent2 = pd.read_excel('C:\\GitHub\\test\\apt_rent\\apt_rent_all_new_2.xlsx')

In [18]:
rent_all = pd.concat([rent1, rent2])
rent_all

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912965,168538,서울특별시,중랑구,중화동,한영(103),월세,50.29,4000,50,5.0,2003,2015,3,6,274-76,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [23]:
rent = rent_all[(rent_all['monthlyrent'] == 0) & (rent_all['category'] == '전세')]
rent

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912961,168533,서울특별시,중랑구,중화동,한신2,전세,59.76,24000,0,4.0,1998,2015,6,17,450,동일로 752,22
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [82]:
apt_rent = rent.groupby(['town', 'village', 'yy', 'mm', 'name', 'size', 'age'])['deposit'].mean().reset_index()
apt_rent

       town village    yy  mm            name    size  age  deposit
0       강남구     개포동  2011   1  개포2차현대아파트(220)   77.75   32  27500.0
1       강남구     개포동  2011   1  개포6차우성아파트1동~8동   79.97   33  24500.0
2       강남구     개포동  2011   1          개포우성3차  104.43   36  35500.0
3       강남구     개포동  2011   1          개포우성3차  133.46   36  53500.0
4       강남구     개포동  2011   1          개포우성3차  161.00   36  60000.0
...     ...     ...   ...  ..             ...     ...  ...      ...
505194  중랑구     중화동  2020   7          청광플러스원   84.96   13  24750.0
505195  중랑구     중화동  2020   7            한신1차   50.37   23  28000.0
505196  중랑구     중화동  2020   7            한신1차   59.76   23  29400.0
505197  중랑구     중화동  2020   7            한신1차   84.03   23  40000.0
505198  중랑구     중화동  2020   7             한신2   59.76   22  31500.0

[505199 rows x 8 columns]

In [83]:
merge =  pd.merge(apt_own, apt_rent, how = 'left',  left_on = ['town', 'village', 'yy','mm','name','size','age'], right_on = ['town', 'village', 'yy','mm','name','size','age'])
merge

,town,village,yy,mm,name,size,age,price_sold,deposit
0,강남구,개포동,2010,8,개포6차우성아파트1동~8동,67.0,33.0,80000.0,NaN
1,강남구,개포동,2010,8,개포6차우성아파트1동~8동,79.0,33.0,80600.0,NaN
2,강남구,개포동,2010,8,개포자이(12-2),134.0,16.0,131000.0,NaN
3,강남구,개포동,2010,8,개포주공 1단지,35.0,38.0,65000.0,NaN
4,강남구,개포동,2010,8,개포주공 1단지,41.0,38.0,75000.0,NaN
...,...,...,...,...,...,...,...,...,...
500594,중랑구,중화동,2020,7,한신1차,50.0,23.0,53000.0,NaN
500595,중랑구,중화동,2020,7,한신1차,59.0,23.0,60250.0,NaN
500596,중랑구,중화동,2020,7,한신1차,84.0,23.0,66000.0,NaN
500597,중랑구,중화동,2020,7,한신2,59.0,22.0,60000.0,NaN
500598,중랑구,중화동,2020,7,현대휴앤미,95.0,13.0,44000.0,NaN

In [84]:
merge[merge['price_sold'] == 0]

Empty DataFrame
Columns: [town, village, yy, mm, name, size, age, price_sold, deposit]
Index: []

In [85]:
merge['deposit'].fillna(0,inplace=True)

In [86]:
merge

,town,village,yy,mm,name,size,age,price_sold,deposit
0,강남구,개포동,2010,8,개포6차우성아파트1동~8동,67.0,33.0,80000.0,0.0
1,강남구,개포동,2010,8,개포6차우성아파트1동~8동,79.0,33.0,80600.0,0.0
2,강남구,개포동,2010,8,개포자이(12-2),134.0,16.0,131000.0,0.0
3,강남구,개포동,2010,8,개포주공 1단지,35.0,38.0,65000.0,0.0
4,강남구,개포동,2010,8,개포주공 1단지,41.0,38.0,75000.0,0.0
...,...,...,...,...,...,...,...,...,...
500594,중랑구,중화동,2020,7,한신1차,50.0,23.0,53000.0,0.0
500595,중랑구,중화동,2020,7,한신1차,59.0,23.0,60250.0,0.0
500596,중랑구,중화동,2020,7,한신1차,84.0,23.0,66000.0,0.0
500597,중랑구,중화동,2020,7,한신2,59.0,22.0,60000.0,0.0
500598,중랑구,중화동,2020,7,현대휴앤미,95.0,13.0,44000.0,0.0

In [87]:
gap = merge['price_sold'] - merge['deposit']
merge['gap'] = gap
merge

,town,village,yy,mm,name,size,age,price_sold,deposit,gap
0,강남구,개포동,2010,8,개포6차우성아파트1동~8동,67.0,33.0,80000.0,0.0,80000.0
1,강남구,개포동,2010,8,개포6차우성아파트1동~8동,79.0,33.0,80600.0,0.0,80600.0
2,강남구,개포동,2010,8,개포자이(12-2),134.0,16.0,131000.0,0.0,131000.0
3,강남구,개포동,2010,8,개포주공 1단지,35.0,38.0,65000.0,0.0,65000.0
4,강남구,개포동,2010,8,개포주공 1단지,41.0,38.0,75000.0,0.0,75000.0
...,...,...,...,...,...,...,...,...,...,...
500594,중랑구,중화동,2020,7,한신1차,50.0,23.0,53000.0,0.0,53000.0
500595,중랑구,중화동,2020,7,한신1차,59.0,23.0,60250.0,0.0,60250.0
500596,중랑구,중화동,2020,7,한신1차,84.0,23.0,66000.0,0.0,66000.0
500597,중랑구,중화동,2020,7,한신2,59.0,22.0,60000.0,0.0,60000.0
500598,중랑구,중화동,2020,7,현대휴앤미,95.0,13.0,44000.0,0.0,44000.0

In [88]:
gap_under2 = merge[(merge['gap'] <= 20000) & (merge['gap'] > 0) & (merge['deposit'] > 0)]
gap_under2

,town,village,yy,mm,name,size,age,price_sold,deposit,gap
1146,강남구,개포동,2013,5,삼익대청아파트,60.0,28.0,49500.000000,30600.0,18900.000000
2470,강남구,개포동,2016,1,삼익대청아파트,60.0,28.0,66800.000000,47000.0,19800.000000
8076,강남구,대치동,2014,9,대치현대,85.0,21.0,82000.000000,62000.0,20000.000000
8261,강남구,대치동,2015,1,대치현대,85.0,21.0,83733.333333,69000.0,14733.333333
8409,강남구,대치동,2015,4,대치현대,85.0,21.0,90500.000000,73000.0,17500.000000
...,...,...,...,...,...,...,...,...,...,...
495255,중랑구,상봉동,2020,6,동부아파트,54.0,21.0,45550.000000,29500.0,16050.000000
497160,중랑구,신내동,2015,5,원당,63.0,31.0,18733.333333,14000.0,4733.333333
497205,중랑구,신내동,2015,6,원당,63.0,31.0,20675.000000,14000.0,6675.000000
497735,중랑구,신내동,2016,7,원당,63.0,31.0,19500.000000,17000.0,2500.000000
498106,중랑구,신내동,2017,4,원당,63.0,31.0,21160.000000,17500.0,3660.000000