In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
a1 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2010_2013.xlsx')
a2 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2014_2016.xlsx')
a3 = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\all_2017_2020.xlsx')

In [3]:
apt = pd.concat([a1, a2, a3])
apt.head()

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.0,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.0,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307

In [4]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2401078 entries, 0 to 955023
Data columns (total 18 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   type         object
 2   city         object
 3   town         object
 4   village      object
 5   name         object
 6   category     object
 7   size         float64
 8   price_sold   int64
 9   deposit      int64
 10  monthlyrent  int64
 11  floor        float64
 12  year_built   float64
 13  yy           int64
 14  mm           int64
 15  dd           int64
 16  zipcode      object
 17  address      object
dtypes: float64(3), int64(7), object(8)
memory usage: 348.1+ MB

In [5]:
sell = apt[(apt['category'] == '매매') & (apt['type'] == '아파트') & (apt['yy'] == 2020)]
sell

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,0,4.0,1988.0,2020,6,23,655-2,언주로 103
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,0,4.0,1987.0,2020,2,24,658-1,언주로 3
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,0,4.0,1987.0,2020,6,18,658-1,언주로 3
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,0,5.0,1987.0,2020,6,20,658-1,언주로 3
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,0,2.0,1987.0,2020,6,22,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,0,2.0,2003.0,2020,5,5,274-76,동일로144길 74
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,0,4.0,2003.0,2020,1,28,274-77,동일로144길 74
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,0,5.0,2003.0,2020,2,3,274-77,동일로144길 74
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,0,6.0,2003.0,2020,3,11,274-77,동일로144길 74
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,0,6.0,2007.0,2020,7,10,11,봉화산로27가길 23

In [6]:
ageage = 2020 - sell['year_built']
sell['age'] = ageage
sell.head()

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,0,4.0,1988.0,2020,6,23,655-2,언주로 103,32.0
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,0,4.0,1987.0,2020,2,24,658-1,언주로 3,33.0
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,0,4.0,1987.0,2020,6,18,658-1,언주로 3,33.0
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,0,5.0,1987.0,2020,6,20,658-1,언주로 3,33.0
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,0,2.0,1987.0,2020,6,22,658-1,언주로 3,33.0

In [7]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52261 entries, 1 to 98562
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   52261 non-null  int64
 1   type         52261 non-null  object
 2   city         52261 non-null  object
 3   town         52261 non-null  object
 4   village      52261 non-null  object
 5   name         52261 non-null  object
 6   category     52261 non-null  object
 7   size         52261 non-null  float64
 8   price_sold   52261 non-null  int64
 9   deposit      52261 non-null  int64
 10  monthlyrent  52261 non-null  int64
 11  floor        52261 non-null  float64
 12  year_built   52261 non-null  float64
 13  yy           52261 non-null  int64
 14  mm           52261 non-null  int64
 15  dd           52261 non-null  int64
 16  zipcode      52254 non-null  object
 17  address      52261 non-null  object
 18  age          52261 non-null  float64
dtypes: float64(4), int64(7), object(8)
memory usage: 8.0+ MB

In [8]:
sell['age_cut']=pd.cut(sell['age'],[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 100], 
                      labels=['-5', '6-10', '11-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-'], duplicates='raise', include_lowest = True)
sell

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age,age_cut
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,0,4.0,1988.0,2020,6,23,655-2,언주로 103,32.0,31-35
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,0,4.0,1987.0,2020,2,24,658-1,언주로 3,33.0,31-35
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,0,4.0,1987.0,2020,6,18,658-1,언주로 3,33.0,31-35
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,0,5.0,1987.0,2020,6,20,658-1,언주로 3,33.0,31-35
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,0,2.0,1987.0,2020,6,22,658-1,언주로 3,33.0,31-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,0,2.0,2003.0,2020,5,5,274-76,동일로144길 74,17.0,16-20
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,0,4.0,2003.0,2020,1,28,274-77,동일로144길 74,17.0,16-20
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,0,5.0,2003.0,2020,2,3,274-77,동일로144길 74,17.0,16-20
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,0,6.0,2003.0,2020,3,11,274-77,동일로144길 74,17.0,16-20
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,0,6.0,2007.0,2020,7,10,11,봉화산로27가길 23,13.0,11-15

In [9]:
sell.groupby(['age_cut'])['age'].count()

age_cut
-5        3943
6-10      4561
11-15     7476
16-20    12276
21-25     9909
26-30     6122
31-35     6170
36-40      884
41-45      640
46-50      243
51-55       33
56-60        4
61-          0
Name: age, dtype: int64

In [10]:
sell['q20'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.20, interpolation='nearest'))
sell['q40'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.40, interpolation='nearest'))
sell['q60'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.60, interpolation='nearest'))
sell['q80'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.quantile(q=0.80, interpolation='nearest'))
sell['med'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.median())
sell['mean'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.mean())
sell['min'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min())
sell['max'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.max())
sell

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,age,age_cut,q20,q40,q60,q80,med,mean,min,max
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,...,32.0,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,...,33.0,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,...,33.0,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,...,33.0,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,...,33.0,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,...,17.0,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,...,17.0,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,...,17.0,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,...,17.0,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,...,13.0,11-15,56600,70000,86000,123000,77500,96038.027956,17000,545000

In [11]:
sell.loc[sell['price_sold'] <= sell['q20'], 'percentile'] = 'rank5'
sell.loc[(sell['price_sold'] > sell['q20']) & (sell['price_sold'] <= sell['q40']), 'percentile'] = 'rank4'
sell.loc[(sell['price_sold'] > sell['q40']) & (sell['price_sold'] <= sell['q60']), 'percentile'] = 'rank3'
sell.loc[(sell['price_sold'] > sell['q60']) & (sell['price_sold'] <= sell['q80']), 'percentile'] = 'rank2'
sell.loc[sell['price_sold'] > sell['q80'], 'percentile'] = 'rank1'
sell

C:\Users\sds\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\sds\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,age_cut,q20,q40,q60,q80,med,mean,min,max,percentile
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,...,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000,rank1
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,...,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000,rank1
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,...,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000,rank1
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,...,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000,rank1
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,...,31-35,33500,44000,58500,87000,50500,66745.264182,14500,365000,rank1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank5
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank5
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank5
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank5
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,...,11-15,56600,70000,86000,123000,77500,96038.027956,17000,545000,rank5

In [12]:
sell.sample(n=10)

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,age_cut,q20,q40,q60,q80,med,mean,min,max,percentile
23658,23658,아파트,서울특별시,구로구,개봉동,삼호,매매,84.0,51000,0,...,21-25,40000,51500,64700,82500,58000,63303.870724,6000,365000,rank4
41867,41867,아파트,서울특별시,도봉구,도봉동,한신,매매,84.0,44900,0,...,21-25,40000,51500,64700,82500,58000,63303.870724,6000,365000,rank4
86407,86407,아파트,서울특별시,영등포구,양평동2가,벽산,매매,51.0,60200,0,...,26-30,36000,45000,59900,80500,51500,59962.773113,7000,260000,rank2
19243,19243,아파트,서울특별시,관악구,봉천동,롯데스카이,매매,170.0,90000,0,...,21-25,40000,51500,64700,82500,58000,63303.870724,6000,365000,rank1
82035,82035,아파트,서울특별시,양천구,신정동,목동2삼성래미안,매매,59.0,84800,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank2
92745,92745,아파트,서울특별시,은평구,진관동,은평뉴타운 우물골(두산위브7단지),매매,101.0,90000,0,...,6-10,40600,73000,94000,126000,84000,88458.676387,6750,730000,rank3
38829,38829,아파트,서울특별시,노원구,중계동,주공4,매매,59.0,54500,0,...,26-30,36000,45000,59900,80500,51500,59962.773113,7000,260000,rank3
47629,47629,아파트,서울특별시,동대문구,이문동,이문삼성래미안아파트,매매,149.0,95000,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank1
56289,56289,아파트,서울특별시,마포구,중동,건영월드컵,매매,58.0,53000,0,...,16-20,47750,59900,72500,89800,66000,73213.092375,8800,570000,rank4
74090,74090,아파트,서울특별시,송파구,거여동,거여5단지,매매,59.0,78500,0,...,21-25,40000,51500,64700,82500,58000,63303.870724,6000,365000,rank2

In [13]:
age_cut_percentile = sell.groupby(['age_cut', 'percentile'])['price_sold'].count().reset_index()
age_cut_percentile

   age_cut percentile  price_sold
0       -5      rank1         788
1       -5      rank2         781
2       -5      rank3         791
3       -5      rank4         794
4       -5      rank5         789
..     ...        ...         ...
60     61-      rank1           0
61     61-      rank2           0
62     61-      rank3           0
63     61-      rank4           0
64     61-      rank5           0

[65 rows x 3 columns]

In [14]:
age_cut_percentile['price_sold'].sum()

52261

In [15]:
age_cut_percentile['price_sold'].astype(float)

0     788.0
1     781.0
2     791.0
3     794.0
4     789.0
      ...
60      0.0
61      0.0
62      0.0
63      0.0
64      0.0
Name: price_sold, Length: 65, dtype: float64

In [16]:
age_cut_percentile['sum'] = age_cut_percentile.groupby(['age_cut'])['price_sold'].transform(lambda x: x.sum())
age_cut_percentile

   age_cut percentile  price_sold   sum
0       -5      rank1         788  3943
1       -5      rank2         781  3943
2       -5      rank3         791  3943
3       -5      rank4         794  3943
4       -5      rank5         789  3943
..     ...        ...         ...   ...
60     61-      rank1           0     0
61     61-      rank2           0     0
62     61-      rank3           0     0
63     61-      rank4           0     0
64     61-      rank5           0     0

[65 rows x 4 columns]

In [17]:
age_cut_percentile['percent'] = age_cut_percentile['price_sold'] / age_cut_percentile['sum']
age_cut_percentile

   age_cut percentile  price_sold   sum   percent
0       -5      rank1         788  3943  0.199848
1       -5      rank2         781  3943  0.198073
2       -5      rank3         791  3943  0.200609
3       -5      rank4         794  3943  0.201370
4       -5      rank5         789  3943  0.200101
..     ...        ...         ...   ...       ...
60     61-      rank1           0     0       NaN
61     61-      rank2           0     0       NaN
62     61-      rank3           0     0       NaN
63     61-      rank4           0     0       NaN
64     61-      rank5           0     0       NaN

[65 rows x 5 columns]

In [18]:
check = age_cut_percentile.groupby(['age_cut'])['percent'].sum()
check

age_cut
-5       1.0
6-10     1.0
11-15    1.0
16-20    1.0
21-25    1.0
26-30    1.0
31-35    1.0
36-40    1.0
41-45    1.0
46-50    1.0
51-55    1.0
56-60    1.0
61-      0.0
Name: percent, dtype: float64

In [19]:
print(age_cut_percentile.groupby(['age_cut'])['price_sold'].sum())

age_cut
-5        3943
6-10      4561
11-15     7476
16-20    12276
21-25     9909
26-30     6122
31-35     6170
36-40      884
41-45      640
46-50      243
51-55       33
56-60        4
61-          0
Name: price_sold, dtype: int64

In [20]:
age_cut_percentile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age_cut     65 non-null     category
 1   percentile  65 non-null     object
 2   price_sold  65 non-null     int64
 3   sum         65 non-null     int64
 4   percent     60 non-null     float64
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 2.9+ KB

In [21]:
age_cut_percentile.to_excel('C:\\GitHub\\test\\apt_Archive1\\age_cut_percentile_2020.xlsx')

In [22]:
sell['min'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min())
sell['p20'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min() + (x.max() - x.min())/5*1)
sell['p40'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min() + (x.max() - x.min())/5*2)
sell['p60'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min() + (x.max() - x.min())/5*3)
sell['p80'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.min() + (x.max() - x.min())/5*4)
sell['max'] = sell.groupby(['age_cut'])['price_sold'].transform(lambda x: x.max())
sell

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,q80,med,mean,min,max,percentile,p20,p40,p60,p80
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,...,87000,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,...,87000,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,...,87000,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,...,87000,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,...,87000,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,...,89800,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,...,89800,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,...,89800,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,...,89800,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,...,123000,77500,96038.027956,17000,545000,rank5,122600,228200,333800,439400

In [23]:
sell.loc[sell['price_sold'] <= sell['p20'], 'rank'] = 'rank5'
sell.loc[(sell['price_sold'] > sell['p20']) & (sell['price_sold'] <= sell['p40']), 'rank'] = 'rank4'
sell.loc[(sell['price_sold'] > sell['p40']) & (sell['price_sold'] <= sell['p60']), 'rank'] = 'rank3'
sell.loc[(sell['price_sold'] > sell['p60']) & (sell['price_sold'] <= sell['p80']), 'rank'] = 'rank2'
sell.loc[sell['price_sold'] > sell['p80'], 'rank'] = 'rank1'
sell

C:\Users\sds\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\sds\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,...,med,mean,min,max,percentile,p20,p40,p60,p80,rank
1,1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.0,149500,0,...,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900,rank4
5,5,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,54.0,144000,0,...,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900,rank4
6,6,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,162750,0,...,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900,rank3
7,7,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,160000,0,...,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900,rank3
8,8,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.0,150000,0,...,50500,66745.264182,14500,365000,rank1,84600,154700,224800,294900,rank4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98558,98558,아파트,서울특별시,중랑구,중화동,한영(103),매매,61.0,23000,0,...,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760,rank5
98559,98559,아파트,서울특별시,중랑구,중화동,한영(104),매매,70.0,31200,0,...,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760,rank5
98560,98560,아파트,서울특별시,중랑구,중화동,한영(104),매매,66.0,28500,0,...,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760,rank5
98561,98561,아파트,서울특별시,중랑구,중화동,한영(104),매매,106.0,45400,0,...,66000,73213.092375,8800,570000,rank5,121040,233280,345520,457760,rank5
98562,98562,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,95.0,44000,0,...,77500,96038.027956,17000,545000,rank5,122600,228200,333800,439400,rank5

In [24]:
age_cut_rank = sell.groupby(['age_cut', 'rank'])['price_sold'].count().reset_index()
age_cut_rank

   age_cut   rank  price_sold
0       -5  rank1           4
1       -5  rank2          20
2       -5  rank3         140
3       -5  rank4        1241
4       -5  rank5        2538
..     ...    ...         ...
60     61-  rank1           0
61     61-  rank2           0
62     61-  rank3           0
63     61-  rank4           0
64     61-  rank5           0

[65 rows x 3 columns]

In [25]:
age_cut_rank['sum'] = age_cut_rank.groupby(['age_cut'])['price_sold'].transform(lambda x: x.sum())
age_cut_rank

   age_cut   rank  price_sold   sum
0       -5  rank1           4  3943
1       -5  rank2          20  3943
2       -5  rank3         140  3943
3       -5  rank4        1241  3943
4       -5  rank5        2538  3943
..     ...    ...         ...   ...
60     61-  rank1           0     0
61     61-  rank2           0     0
62     61-  rank3           0     0
63     61-  rank4           0     0
64     61-  rank5           0     0

[65 rows x 4 columns]

In [26]:
age_cut_rank['%'] = age_cut_rank['price_sold'] / age_cut_rank['sum'] * 100
age_cut_rank

   age_cut   rank  price_sold   sum          %
0       -5  rank1           4  3943   0.101446
1       -5  rank2          20  3943   0.507228
2       -5  rank3         140  3943   3.550596
3       -5  rank4        1241  3943  31.473497
4       -5  rank5        2538  3943  64.367233
..     ...    ...         ...   ...        ...
60     61-  rank1           0     0        NaN
61     61-  rank2           0     0        NaN
62     61-  rank3           0     0        NaN
63     61-  rank4           0     0        NaN
64     61-  rank5           0     0        NaN

[65 rows x 5 columns]

In [27]:
age_cut_rank.to_excel('C:\\GitHub\\test\\apt_Archive1\\age_cut_rank_2020.xlsx')