In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
korea = pd.read_csv('C:\\GitHub\\test\\korea_2019.csv', encoding='cp949')
print(korea.head())

     조사연월  가구별 일련번호  가구구분  가구원수  취업인원수  노인가구  모자가구  맞벌이가구  일반가구  세대구분  ...  \
0  201900         1     2     1      0     0     0      0     1     1  ...
1  201900         2     1     3      2     0     0      0     1     2  ...
2  201900         3     2     1      0     0     0      0     1     1  ...
3  201900         4     1     3      2     0     0      1     0     2  ...
4  201900         5     1     1      1     0     0      0     1     1  ...

    기타서비스   비소비지출   경상조세  비경상조세  연금 기여금    사회보험  이자비용 가구간 이전지출 비영리단체로 이전  \
0       0   99416      0  15190       0       0  4893    50000     29333
1    3333  316357  37697      0       0  110160     0   142500     26000
2       0    9206      0      0    4050    3728     0        0      1429
3       0  445731  71766      0  245393  104001  4857     7143     12571
4  525514  359537  13844      0   65571   50121     0    57143    172857

   도시/읍면부 구분
0          1
1          1
2          1
3          1
4          1

[5 rows x 242 columns]

C:\Users\sds\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (72) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
korea_edit = korea.loc[:, ['가구별 일련번호', '가구원수', '맞벌이가구', '가구주_직업코드', '거처구분', '입주형태', '주택소유구분', '소득5분위코드(전국_전체가구)', '소득10분위코드(전국_전체가구)', '소득구간', '가계지출', '소비지출', '01. 식료품 · 비주류음료']]
korea_edit.head()

,가구별 일련번호,가구원수,맞벌이가구,가구주_직업코드,거처구분,입주형태,주택소유구분,소득5분위코드(전국_전체가구),소득10분위코드(전국_전체가구),소득구간,가계지출,소비지출,01. 식료품 · 비주류음료
0,1,1,0,Z,1,4,2,1,1,1,550880,451464,153011
1,2,3,0,9,1,6,2,3,5,4,1784457,1468101,300713
2,3,1,0,Z,1,6,2,1,1,1,1367979,1358773,171247
3,4,3,1,3,1,4,2,3,6,4,1612673,1166942,155088
4,5,1,0,4,1,6,2,2,3,2,6235025,5875488,311939

In [45]:
korea5 = korea_edit.groupby(['소득5분위코드(전국_전체가구)', '소득구간', '맞벌이가구']).agg({'가계지출': 'mean', '소비지출': 'mean', '01. 식료품 · 비주류음료': 'mean'}).reset_index()
print(korea5)
print(korea5.info())
print(korea5.index())

    소득5분위코드(전국_전체가구)  소득구간  맞벌이가구          가계지출          소비지출  01. 식료품 · 비주류음료
0                  1     1      0  9.820720e+05  8.578739e+05    186998.355918
1                  1     1      1  1.387842e+06  1.123052e+06    292048.531915
2                  1     2      0  1.374485e+06  1.147709e+06    235503.521008
3                  1     2      1  1.564652e+06  1.284482e+06    304043.190476
4                  2     2      0  1.739939e+06  1.450432e+06    247769.702830
5                  2     2      1  2.010144e+06  1.626319e+06    356083.481481
6                  2     3      0  2.110144e+06  1.705906e+06    265870.705364
7                  2     3      1  2.237829e+06  1.764114e+06    348278.483471
8                  3     3      0  2.218385e+06  1.752886e+06    289602.850000
9                  3     3      1  2.802616e+06  2.095324e+06    343789.666667
10                 3     4      0  2.920301e+06  2.266863e+06    318072.917073
11                 3     4      1  2.808323e+06  2.171222e+06    397697.793750
12                 3     5      0  3.497812e+06  2.672584e+06    338974.986667
13                 3     5      1  3.292499e+06  2.546066e+06    407514.490446
14                 4     5      0  3.716231e+06  2.775898e+06    376046.642667
15                 4     5      1  3.634298e+06  2.750657e+06    404808.592885
16                 4     6      0  4.176827e+06  3.004108e+06    398970.573561
17                 4     6      1  4.045032e+06  3.020142e+06    411800.002364
18                 4     7      0  5.208104e+06  3.732536e+06    422433.262500
19                 4     7      1  4.202416e+06  3.094676e+06    434956.644231
20                 5     7      0  4.908892e+06  3.373545e+06    475633.603352
21                 5     7      1  4.799103e+06  3.481740e+06    426408.340426
22                 5     8      0  6.595038e+06  4.249081e+06    481200.791011
23                 5     8      1  6.525432e+06  4.399906e+06    475785.852078
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   소득5분위코드(전국_전체가구)  24 non-null     int64
 1   소득구간              24 non-null     int64
 2   맞벌이가구             24 non-null     int64
 3   가계지출              24 non-null     float64
 4   소비지출              24 non-null     float64
 5   01. 식료품 · 비주류음료   24 non-null     float64
dtypes: float64(3), int64(3)
memory usage: 1.2 KB
None

TypeError: 'RangeIndex' object is not callable

In [46]:
income_guess = korea5['소득구간'] * 1000000
income_guess

0     1000000
1     1000000
2     2000000
3     2000000
4     2000000
5     2000000
6     3000000
7     3000000
8     3000000
9     3000000
10    4000000
11    4000000
12    5000000
13    5000000
14    5000000
15    5000000
16    6000000
17    6000000
18    7000000
19    7000000
20    7000000
21    7000000
22    8000000
23    8000000
Name: 소득구간, dtype: int64

In [47]:
korea5['소득추정'] = income_guess
korea5

,소득5분위코드(전국_전체가구),소득구간,맞벌이가구,가계지출,소비지출,01. 식료품 · 비주류음료,소득추정
0,1,1,0,9.820720e+05,8.578739e+05,186998.355918,1000000
1,1,1,1,1.387842e+06,1.123052e+06,292048.531915,1000000
2,1,2,0,1.374485e+06,1.147709e+06,235503.521008,2000000
3,1,2,1,1.564652e+06,1.284482e+06,304043.190476,2000000
4,2,2,0,1.739939e+06,1.450432e+06,247769.702830,2000000
5,2,2,1,2.010144e+06,1.626319e+06,356083.481481,2000000
6,2,3,0,2.110144e+06,1.705906e+06,265870.705364,3000000
7,2,3,1,2.237829e+06,1.764114e+06,348278.483471,3000000
8,3,3,0,2.218385e+06,1.752886e+06,289602.850000,3000000
9,3,3,1,2.802616e+06,2.095324e+06,343789.666667,3000000
10,3,4,0,2.920301e+06,2.266863e+06,318072.917073,4000000
11,3,4,1,2.808323e+06,2.171222e+06,397697.793750,4000000
12,3,5,0,3.497812e+06,2.672584e+06,338974.986667,5000000
13,3,5,1,3.292499e+06,2.546066e+06,407514.490446,5000000
14,4,5,0,3.716231e+06,2.775898e+06,376046.642667,5000000
15,4,5,1,3.634298e+06,2.750657e+06,404808.592885,5000000
16,4,6,0,4.176827e+06,3.004108e+06,398970.573561,6000000
17,4,6,1,4.045032e+06,3.020142e+06,411800.002364,6000000
18,4,7,0,5.208104e+06,3.732536e+06,422433.262500,7000000
19,4,7,1,4.202416e+06,3.094676e+06,434956.644231,7000000
20,5,7,0,4.908892e+06,3.373545e+06,475633.603352,7000000
21,5,7,1,4.799103e+06,3.481740e+06,426408.340426,7000000
22,5,8,0,6.595038e+06,4.249081e+06,481200.791011,8000000
23,5,8,1,6.525432e+06,4.399906e+06,475785.852078,8000000

In [48]:
engel = korea5['01. 식료품 · 비주류음료'] / korea5['소득추정'] * 100 
korea5['엥겔지수'] = engel
korea5

,소득5분위코드(전국_전체가구),소득구간,맞벌이가구,가계지출,소비지출,01. 식료품 · 비주류음료,소득추정,엥겔지수
0,1,1,0,9.820720e+05,8.578739e+05,186998.355918,1000000,18.699836
1,1,1,1,1.387842e+06,1.123052e+06,292048.531915,1000000,29.204853
2,1,2,0,1.374485e+06,1.147709e+06,235503.521008,2000000,11.775176
3,1,2,1,1.564652e+06,1.284482e+06,304043.190476,2000000,15.202160
4,2,2,0,1.739939e+06,1.450432e+06,247769.702830,2000000,12.388485
5,2,2,1,2.010144e+06,1.626319e+06,356083.481481,2000000,17.804174
6,2,3,0,2.110144e+06,1.705906e+06,265870.705364,3000000,8.862357
7,2,3,1,2.237829e+06,1.764114e+06,348278.483471,3000000,11.609283
8,3,3,0,2.218385e+06,1.752886e+06,289602.850000,3000000,9.653428
9,3,3,1,2.802616e+06,2.095324e+06,343789.666667,3000000,11.459656
10,3,4,0,2.920301e+06,2.266863e+06,318072.917073,4000000,7.951823
11,3,4,1,2.808323e+06,2.171222e+06,397697.793750,4000000,9.942445
12,3,5,0,3.497812e+06,2.672584e+06,338974.986667,5000000,6.779500
13,3,5,1,3.292499e+06,2.546066e+06,407514.490446,5000000,8.150290
14,4,5,0,3.716231e+06,2.775898e+06,376046.642667,5000000,7.520933
15,4,5,1,3.634298e+06,2.750657e+06,404808.592885,5000000,8.096172
16,4,6,0,4.176827e+06,3.004108e+06,398970.573561,6000000,6.649510
17,4,6,1,4.045032e+06,3.020142e+06,411800.002364,6000000,6.863333
18,4,7,0,5.208104e+06,3.732536e+06,422433.262500,7000000,6.034761
19,4,7,1,4.202416e+06,3.094676e+06,434956.644231,7000000,6.213666
20,5,7,0,4.908892e+06,3.373545e+06,475633.603352,7000000,6.794766
21,5,7,1,4.799103e+06,3.481740e+06,426408.340426,7000000,6.091548
22,5,8,0,6.595038e+06,4.249081e+06,481200.791011,8000000,6.015010
23,5,8,1,6.525432e+06,4.399906e+06,475785.852078,8000000,5.947323

In [56]:
korea5_income = korea5.groupby(['소득5분위코드(전국_전체가구)', '소득구간']).agg({'가계지출': 'mean', '소비지출': 'mean', '01. 식료품 · 비주류음료': 'mean'}).reset_index()
korea5_income['엥겔지수'] = engel
korea5_income

,소득5분위코드(전국_전체가구),소득구간,가계지출,소비지출,01. 식료품 · 비주류음료,엥겔지수
0,1,1,1.184957e+06,9.904628e+05,239523.443917,18.699836
1,1,2,1.469569e+06,1.216096e+06,269773.355742,29.204853
2,2,2,1.875041e+06,1.538376e+06,301926.592156,11.775176
3,2,3,2.173987e+06,1.735010e+06,307074.594418,15.202160
4,3,3,2.510501e+06,1.924105e+06,316696.258333,12.388485
5,3,4,2.864312e+06,2.219043e+06,357885.355412,17.804174
6,3,5,3.395156e+06,2.609325e+06,373244.738556,8.862357
7,4,5,3.675265e+06,2.763278e+06,390427.617776,11.609283
8,4,6,4.110930e+06,3.012125e+06,405385.287962,9.653428
9,4,7,4.705260e+06,3.413606e+06,428694.953365,11.459656
10,5,7,4.853997e+06,3.427643e+06,451020.971889,7.951823
11,5,8,6.560235e+06,4.324493e+06,478493.321545,9.942445

In [59]:
korea5_doubleincome = korea5.groupby(['소득구간', '맞벌이가구']).agg({'가계지출': 'mean', '소비지출': 'mean', '01. 식료품 · 비주류음료': 'mean'}).reset_index()
korea5_doubleincome['엥겔지수'] = engel
korea5_doubleincome

    소득구간  맞벌이가구          가계지출          소비지출  01. 식료품 · 비주류음료       엥겔지수
0      1      0  9.820720e+05  8.578739e+05    186998.355918  18.699836
1      1      1  1.387842e+06  1.123052e+06    292048.531915  29.204853
2      2      0  1.557212e+06  1.299071e+06    241636.611919  11.775176
3      2      1  1.787398e+06  1.455401e+06    330063.335979  15.202160
4      3      0  2.164265e+06  1.729396e+06    277736.777682  12.388485
5      3      1  2.520223e+06  1.929719e+06    346034.075069  17.804174
6      4      0  2.920301e+06  2.266863e+06    318072.917073   8.862357
7      4      1  2.808323e+06  2.171222e+06    397697.793750  11.609283
8      5      0  3.607022e+06  2.724241e+06    357510.814667   9.653428
9      5      1  3.463399e+06  2.648362e+06    406161.541666  11.459656
10     6      0  4.176827e+06  3.004108e+06    398970.573561   7.951823
11     6      1  4.045032e+06  3.020142e+06    411800.002364   9.942445
12     7      0  5.058498e+06  3.553040e+06    449033.432926   6.779500
13     7      1  4.500759e+06  3.288208e+06    430682.492328   8.150290
14     8      0  6.595038e+06  4.249081e+06    481200.791011   7.520933
15     8      1  6.525432e+06  4.399906e+06    475785.852078   8.096172

In [67]:
korea5_doubleincome['맞벌이가구'] = korea5_doubleincome['맞벌이가구'].astype("category")

In [70]:
korea5_doubleincome['맞벌이가구'].cat.categories = ['외벌이', '맞벌이']
korea5_doubleincome

    소득구간 맞벌이가구          가계지출          소비지출  01. 식료품 · 비주류음료       엥겔지수
0      1   외벌이  9.820720e+05  8.578739e+05    186998.355918  18.699836
1      1   맞벌이  1.387842e+06  1.123052e+06    292048.531915  29.204853
2      2   외벌이  1.557212e+06  1.299071e+06    241636.611919  11.775176
3      2   맞벌이  1.787398e+06  1.455401e+06    330063.335979  15.202160
4      3   외벌이  2.164265e+06  1.729396e+06    277736.777682  12.388485
5      3   맞벌이  2.520223e+06  1.929719e+06    346034.075069  17.804174
6      4   외벌이  2.920301e+06  2.266863e+06    318072.917073   8.862357
7      4   맞벌이  2.808323e+06  2.171222e+06    397697.793750  11.609283
8      5   외벌이  3.607022e+06  2.724241e+06    357510.814667   9.653428
9      5   맞벌이  3.463399e+06  2.648362e+06    406161.541666  11.459656
10     6   외벌이  4.176827e+06  3.004108e+06    398970.573561   7.951823
11     6   맞벌이  4.045032e+06  3.020142e+06    411800.002364   9.942445
12     7   외벌이  5.058498e+06  3.553040e+06    449033.432926   6.779500
13     7   맞벌이  4.500759e+06  3.288208e+06    430682.492328   8.150290
14     8   외벌이  6.595038e+06  4.249081e+06    481200.791011   7.520933
15     8   맞벌이  6.525432e+06  4.399906e+06    475785.852078   8.096172

In [72]:
korea5_doubleincome_compare = korea5_doubleincome.groupby(['맞벌이가구']).엥겔지수.mean()
korea5_doubleincome_compare

맞벌이가구
외벌이    10.453942
맞벌이    13.933629
Name: 엥겔지수, dtype: float64